<!DOCTYPE html>
<html lang="en">
<head>
   @*  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmbitCRM.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AmbitCRM.Web.styles.css" asp-append-version="true" /> *@

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>AMBIT</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
  @*   <link href="~/js/jquery.datatables.min 2.css" rel="stylesheet" /> *@

 
</head>
<body>
    @*   <header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AmbitCRM.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/assets/images/logo.svg" alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-5">
                        <a class="nav-link active" aria-current="page" href="#"><img src="~/assets/images/home.svg" alt="" /> Home</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="#"><img src="~/assets/images/settings.svg" alt="" /> Settings</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center profile">
                    <div class="flex-grow-1 me-3">
                        Kumar Saurabh
                        <p>06 Mar 2024, 16:40</p>
                    </div>
                    <div class="flex-shrink-0">
                        <a href="login.html">
                            <img src="~/assets/images/logout.svg" alt="Logout" />
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
      @*   <main role="main" class="pb-3"> *@
            @RenderBody()
      @*   </main> *@
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AmbitCRM.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
  
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   <script src="~/lib/jquery/dist/jquery.js"></script>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>

  

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
