
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>AMBIT - Login</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <style>
        .form-control {
        background-color:transparent;
        }
    </style>
</head>

<body>
    <main id="login">
        <div class="container-fluid" style="background-color: rgba(255,255,255, 0.3);">
            <div class="row d-flex justify-content-around align-items-center py-5 " style="height: 100vh;">
                <div class="col-md-12 logo_outer ">
                    <img src="~/assets/images/login_logo.svg" />
                </div>
                <div class="col-md-12 px-0">

                    <form class="py-4" style="background-color: #0000004a;" >
                        <div class="login_oueter col-md-4 m-auto">
                            <h3 class="log">LOGIN</h3>
                            <p style="text-align: center; font-size: small">
                                Please enter your details
                            </p>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email"
                                       aria-describedby="emailHelp" required>
                                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="Password" required>
                            </div>

                            <button type="submit" class="btn btn-color w-100" onclick="Login()">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!--  JS Files -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>


</body>                                                                                                                                                                                                                                                                                                                                                                                                                                                               

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function Login() {
        event.preventDefault(); // Prevent the default form submission behavior
        $(".validation-message").remove();

        var Email = $("#email").val();
        var Password = $("#Password").val();


        if (!Email) {
            displayValidationMessage("email", "Email Required.");
            return;
        }

        if (!Password) {
            displayValidationMessage("Password", "Password Is required.");
            return;
        }


        var obj = {

            Email: Email,
            Password: Password,
            DeviceId: "Web",
        };

        $.ajax({
            type: "POST",
            url: "/Login/CheckLogin",

            data: obj,
            success: function (result) {
                // debugger;
                console.log(result)
                if (result.status) {
                    alert(result.message);
                    window.location.href = "/Dashboard/Dashboard"; // Use replace for redirect
                } else {
                    alert(result.message);
                }
            },
            error: function (error) {
                alert("An error occurred during the request.");
                // console.error(error);
            }
        });
    }

    function displayValidationMessage(fieldId, message) {
        // Display validation message next to the input field
        $("#" + fieldId).after('<span class="validation-message" style="color: red;">' + message + '</span>');
    }

</script>