<main>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-white">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <button class="btn"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseWidthExample"
                                                aria-expanded="false"
                                                aria-controls="collapseWidthExample">
                                            <img src="assets/images/hamburger.svg" alt="..." />
                                        </button>
                                    </div>
                                    <!-- <div class="flex-grow-1 ms-3">Home</div> -->
                                </div>
                            </div>
                            <div class="col-md-9">
                                <nav class="navbar navbar-expand-lg">
                                    <div class="container-fluid">
                                        <div class="navbar-collapse bg-white d-flex" id="">
                                            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        Select Column
                                                    </button>
                                                    <ul class="dropdown-menu columnName p-0">
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Company Name</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Contact Name</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Email</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Source</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">City </label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Contact Type</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">RM</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Creation Date</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Last Interaction Date</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox"
                                                                   name=""
                                                                   id="company_name"
                                                                   class="me-2" /><label for="company_name">Last Interaction With</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <form class="d-flex" role="search">
                                                <select class="form-select"
                                                        aria-label="Default select example">
                                                    <option selected>Show</option>
                                                    <option value="1">10</option>
                                                    <option value="1">20</option>
                                                    <option value="1">50</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 collapse collapse-horizontal show p-0" id="collapseWidthExample">
                                    <div class="card border-start-0 border-top-0 border-bottom-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 py-2">
                                                    <input class="form-control me-2" type="search" placeholder="Search Keyword" aria-label="Search" />
                                                </div>
                                                <div class="col-md-12 py-2">
                                                    <div class="card">
                                                        <button class="btn btn-color w-100 d-flex justify-content-between align-items-center" type="button"
                                                                data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                                                                aria-controls="collapseExample">
                                                            <span>
                                                                <img src="assets/images/hamburger2.svg" alt="" />
                                                                Advanced Search
                                                            </span>
                                                            <img src="assets/images/Drop-down-icon.svg" alt="" class="arrow" />
                                                        </button>
                                                        <div class="collapse show" id="collapseExample">
                                                            <div class="card card-body border-0 shadow-none">
                                                                <form class="adv_search">
                                                                    <div class="mb-3">
                                                                        <input type="text" class="form-control" placeholder="Enter Company Name" />
                                                                        <img src="assets/images/company_name.svg" alt="">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <input type="text" class="form-control" placeholder="Enter Contact Name" />
                                                                        <img src="assets/images/contact_name.svg" alt="">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <input type="email" class="form-control" placeholder="Enter Email Address" />
                                                                        <img src="assets/images/email.svg" alt="">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <input type="email" class="form-control" placeholder="Enter City" />
                                                                        <img src="assets/images/city.svg" alt="">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-color w-100 mb-2">
                                                                        <img src="assets/images/search.svg" alt="" />
                                                                        Exact Search
                                                                    </button>
                                                                    <button type="submit" class="btn btn-color w-100 mb-2">
                                                                        <img src="assets/images/similar_search.svg" alt="" />
                                                                        Similar Search
                                                                    </button><button type="submit" class="btn btn-color w-100 mb-2">
                                                                        <img src="assets/images/related_search.svg" alt="" />
                                                                        Related Search
                                                                    </button>
                                                                    <button type="reset" class="btn btn-outline-danger w-100 mb-2">
                                                                        Reset
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               @*  <div class="col-md-3 collapse collapse-horizontal show p-0"
                                      file-include-html="assets/includes/sidebar.html" 
                                     id="collapseWidthExample">
                                 </div> *@
                                <div class="col my-3" id="main">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col">
                                                    <h1>Bookmark Contacts</h1>

                                                </div>
                                                <div class="col text-end">
                                                    <a href="">
                                                        <img src="assets/images/cancle.svg" alt="" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="table-responsive rounded-3 border bookmakerTable">
                                                <table class="table m-0">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Company Name</th>
                                                            <th>Contact Name</th>
                                                            <th>Email</th>
                                                            <th>Source</th>
                                                            <th>City</th>
                                                            <th>Contact Type</th>
                                                            <th>RM</th>
                                                            <th>Creation Date</th>
                                                            <th>Last Interaction Date</th>
                                                            <th>Last Interaction With</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <img src="assets/images/Star_red.svg"
                                                                     alt="" />
                                                            </td>
                                                            <td>Ambit</td>
                                                            <td>Piyush Thakur</td>
                                                            <td>piyush@gmail.com</td>
                                                            <td>T-1</td>
                                                            <td>Mumbai</td>
                                                            <td>E-Mail</td>
                                                            <td>Pawas Goyal</td>
                                                            <td>06 March 24</td>
                                                            <td>06 March 24</td>
                                                            <td>Piyush Thakur</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <h1>Previous searches</h1>
                                            <div class="row previous_search">
                                                <div class="col-11"><p>Exact Search</p></div>
                                                <div class="col-1">
                                                    <a href="">
                                                        <img src="assets/images/cancle.svg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="d-flex list-unstyled m-0 align-items-center">
                                                            <li>Company Name :</li>
                                                            <li class="ms-3">Ambit</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>City : </li>
                                                            <li class="ms-3">Mumbai</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>Email Address : </li>
                                                            <li class="ms-3">Piyush@Ambit.com</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 my-1">
                                                    <img src="assets/images/previous_search.svg"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="row previous_search">

                                                <div class="col-11"><p>Similar Search</p></div>
                                                <div class="col-1">
                                                    <a href="">
                                                        <img src="assets/images/cancle.svg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="d-flex list-unstyled m-0 align-items-center">
                                                            <li>Company Name :</li>
                                                            <li class="ms-3">Ambit</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>City : </li>
                                                            <li class="ms-3">Mumbai</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>Email Address : </li>
                                                            <li class="ms-3">Piyush@Ambit.com</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 my-1">
                                                    <img src="assets/images/previous_search.svg"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="row previous_search">

                                                <div class="col-11"><p>Related Search</p></div>
                                                <div class="col-1">
                                                    <a href="">
                                                        <img src="assets/images/cancle.svg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="d-flex list-unstyled m-0 align-items-center">
                                                            <li>Company Name :</li>
                                                            <li class="ms-3">Ambit</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>City : </li>
                                                            <li class="ms-3">Mumbai</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col my-1">
                                                    <div class="card card-body py-2">
                                                        <ul class="p-0 d-flex  list-unstyled m-0 align-items-center">
                                                            <li>Email Address : </li>
                                                            <li class="ms-3">Piyush@Ambit.com</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 my-1">
                                                    <img src="assets/images/previous_search.svg"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>