@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col my-3" id="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive rounded-3 border">
                        <table class="table m-0" id="tblContact">
                            <thead>
                                <tr>
                                    <th>Company Id</th>
                                    <th>Company Name</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>Source</th>
                                    <th>Contact Type</th>
                                    <th>RM</th>
                                    <th>Creation Date</th>
                                    <th>Last Interaction Date</th>
                                    <th>Last Interaction With</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>v>